Repository ringwormGO-organization/ringOS, pull requests merged in 2022-01, with the labels that each got.

#11 Updated Readme and Documentation to improve grammar and english translation
  Documentation.md
  README.md
Labels: documentation, good first issue, merged

#19 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#20 Fixed a critical bug causing ringos to not boot
  ringOS-Beta17/Makefile
Labels: bug, Makefile

#24 Printf %d, fix Resolution rendering and GUI working in any size of window - Part 1
  ringOS-Beta17/src/BasicRenderer.cpp
  ringOS-Beta17/src/Window/Window.cpp
  ringOS-Beta17/src/Window/shell.cpp
  ringOS-Beta17/src/kernel.cpp
  ringOS-Beta17/src/userinput/mouse.cpp
Labels: bug, GUI
